<footer class="footer">
  <div class="footer-content">

    <div class="logo-goit">
      <img src="/assets/logo-goit-original.png" alt="GOIT Logo" class="logo" />

      <div class="social-icons">
        <img
          src="/assets/facebook-icon.png"
          alt="Facebook"
          class="social-icon"
          (click)="redirectTo('https://www.facebook.com/goitsrl?locale=es_LA')"
        />
        <img
          src="/assets/linkedin-icon.png"
          alt="LinkedIn"
          class="social-icon"
          (click)="redirectTo('https://www.linkedin.com/company/goitsrl/mycompany/')"
        />
        <img
          src="/assets/web-icon.png"
          alt="Website"
          class="social-icon"
          (click)="redirectTo('https://grupogoit.com/')"
        />
        <img
          src="/assets/youtube-icon.png"
          alt="YouTube"
          class="social-icon"
          (click)="redirectTo('https://www.youtube.com/@grupogo-it6830')"
        />
      </div>
    </div>

    <!-- Sección de Perú -->
    <div class="section peru-section">
      <p class="country-title-peru">Perú</p>
      <hr class="horizontal-divider-peru" />
      <div class="city-info">
        <div class="city-lima">
          <p class="city-name">Lima</p>
          <p class="address">Calle Gavilanes 261, San Isidro</p>
        </div>
        <div class="city-piura">
          <p class="city-name">Piura</p>
          <p class="address">Av. Country B-11, Urb. Angamos</p>
        </div>
      </div>
    </div>

    <!-- Sección de Bolivia -->
    <div class="section bolivia-section">
      <p class="country-title-bolivia">Bolivia</p>
      <hr class="horizontal-divider-bolivia" />
      <div class="city-info">
        <div class="city">
          <p class="city-name">Cochabamba</p>
          <p class="address">Ramón Rivero, esq. 16 de julio, Edif. Alvarez N°516</p>
        </div>
        <div class="city">
          <p class="city-name">La Paz</p>
          <p class="address">Zona Achumani Av. Alexander y calle 13 N°70</p>
        </div>
        <div class="city">
          <p class="city-name">Santa Cruz</p>
          <p class="address">Calle Suárez Arana, N°246</p>
        </div>
      </div>
    </div>

    <!-- Sección de Copyright -->
    <div class="section copyright-section">
      <p class="copyright">© Copyright 2024 Grupo GOIT S.R.L.</p>
    </div>
  </div>
</footer>
