<section class="llajta-section">
  <h2>
    Conoce Nuestra LLAJTA
    <img src="/assets/COCHABAMBA-ICONO.png" alt="Llajta Icon" class="llajta-icon" />
  </h2>

  <div class="text-block">
    <div class="title-text-item">
      <p>Monumento</p>
      <p>Cristo de la Concordia</p>
    </div>
    <div class="text-item1">
      <p>Visita uno de los monumentos mas</p>
      <p>altos en sudamerica y admira una vista</p>
      <p>panoramica de la ciudad.</p>
    </div>
    <img src="/assets/atraction-cristo.png" alt="Atracción 1" class="attraction-image" />
  </div>

  <div class="text-block">
    <div class="title-text-item">
      <p>Centro Simon I. Patiño</p>
    </div>
    <div class="text-item2">
      <p>La Fundación Patiño en Cochabamba</p>
      <p>cuenta con dos centros culturales:</p>
      <p>Palacio Portales y Villa Albina</p>
    </div>
    <img src="/assets/atraction-simon.png" alt="Atracción 2" class="attraction-image" />
  </div>

  <div class="text-block">
    <div class="title-text-item">
      <p>Vistana Gastrobar</p>
    </div>
    <div class="text-item3">
      <p>Con un espacio exclusivo y auténtico</p>
      <p>donde su especialidad es la coctelería</p>
      <p>complementando con alta cocina.</p>
    </div>
    <img src="/assets/atraction-vistana.png" alt="Atracción 3" class="attraction-image" />
  </div>

  <div class="text-block">
    <div class="title-text-item">
      <p>Restaurante</p>
      <p>La Casa del Gordo</p>
    </div>
    <div class="text-item4">
      <p>Con un sabor inigualable, ofrece una</p>
      <p>experiencia auténtica en la gastronomía</p>
      <p>Cochabambina.</p>
    </div>
    <img src="/assets/atraction-casa-gordo.png" alt="Atracción 4" class="attraction-image" />
  </div>
</section>

